body, html {
    height: 100%;
    font-family: 'Arial';
    margin: 0;
    background-color: lightgray;
  }
  
  button{
    background-color: #4d4d4d;
    color: whitesmoke;
    margin: 16px 8px;
    padding: 4px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  h1, a.neu{
    color: #4d4d4d;
    margin: 0px 32px 32px 32px;
    letter-spacing: 8px;
  }
  
  header{
    background: linear-gradient(-45deg, #888888, #ff2020, #262626);
      background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    font-family: 'Bebas Neue', cursive;
  }
  
  .neu{
    box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), -8px -8px 18px 0 rgb(255 255 255 / 60%);
    border-radius: 40px;
    margin: 32px;
    background: linear-gradient(-45deg, lightgray, #f1f1f1);
    border: 1px #d0d0d0 solid;
    font-size: 18px;
    line-height: 40px;
  }

  div a.neu{
    text-decoration: none;
    font-size: 32px;
    padding: 28px;
    letter-spacing: 4px;
    text-overflow: ellipsis;
    display: block;
    margin: 32px;
    max-width: 500px;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  header div{
    padding: 32px;
    font-size: 32px;
    color: whitesmoke;
    letter-spacing: 20px;
    box-shadow: grey 0px 2px 8px;
  }